---
layout: default
---

<style>
.site-header {
    margin-bottom: 0;
}
.site-footer {
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.site-footer .octicon-mark-github {
    top: 18px;
}
.demo-class{
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
</style>

<div class="demo-class" id="demo"></div>

<article class="article-content markdown-body" style="display:none;">
{{ content }}
</article>

<script>

function renderDemo() {
    var headerHeight = $('header.site-header')[0].offsetHeight;
    var footerHeight = $('footer.container')[0].offsetHeight;
    var mindmapHeight = $(window).height() - headerHeight - footerHeight;
    $('#demo').height('' + mindmapHeight + "px");
}

$(document).ready(function() {
  renderDemo();
});
</script>

<section class="container content">
<div class="columns">
  <div class="column three-fourths" >
    {% include content-header-ad.html %}
    <article class="article-content markdown-body">
    {{ content }}
    {% include copyright.html %}
    </article>
    <div class="share">
      {% include sns-share.html %}
    </div>
    {% include content-footer-ad.html %}
    <div class="comment">
      {% include comments.html %}
    </div>
  </div>
  <div class="column one-fourth">
    {% include sidebar-search.html %}
    {% include sidebar-post-nav.html %}
  </div>
</div>
</section>
